#pane {
  height: 90vh;
  border: 1px solid black;
}

#moving-box {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: flexbox;
  text-align: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  right: 0px;
}

#moving-box2 {
  background-color: rgba(0, 255, 0, 0.5);
  position: absolute;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  top: 10px;
  left: 600px;
}

#ball {
  background-color: rgba(0, 0, 255, 0.5);
  position: absolute;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  top: 300px;
  left: 400px;
  border-radius: 100%;
}

#moveBoxDown {
  display: inline;
  position: absolute;
}

.btn {
  margin-left: 100px;
}

#drag-box {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #ffd800;
}
