#pane {
  height: 100vh;
  border: 1px solid black;
}

#moving-box {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: flexbox;
  text-align: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  right: 0px;
}

#moveBoxDown {
  display: inline;
  position: absolute;
}

.btn {
  margin-left: 100px;
}
